body {
  background-color: #347B98;
  text-align: center;
}
.title{
  margin: 20px;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

/* GAME BOARD STYLES */
#gc {

  width: 40vw;
  height: 40vw;
  margin: 2vw auto;
  background-color: #0c1021;
  border: solid 10px #D4EDF7;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
}
